VITE_SUPABASE_URL="https://cvrbjijusaqejmclqgmv.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN2cmJqaWp1c2FxZWptY2xxZ212Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxNzY1NzcsImV4cCI6MjA5NDc1MjU3N30.8_UTG4XbwejaU2i17vh-glSuIItGDbJo8bojF4FRVtc"